@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors - Primary */
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);

  /* Colors - Accent */
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);

  /* Typography */
  --fonts-nav-hdg-cta: 'Raleway', sans-serif;
  --fonts-body: 'Open Sans', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--fonts-body);
  font-size: 1.6rem;
  line-height: 1;
  color: var(--very-dark-blue);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.centered-container {
  padding: 0 6.4rem;
  margin: 0 auto;
}

.heading-primary,
.fylo__header--nav,
.fylo__hero--cta-form {
  font-family: var(--fonts-nav-hdg-cta);
}

.heading-primary {
  font-weight: 700;
}
